{% extends "base.html" %}
{% block title %}
  About Us
{% endblock title %}

{% block content %}
  <section class="padding-top">
      <div class="row">
          <div class="medium-8 medium-centered columns text-center">
              <h1>About Garzon Films</h1>
              <h2>We <strong>love</strong> to make <em>movies!</em></h2>
              <h3>Garzon Films is an independent production company founded by <a href="https://www.youtube.com/AndyGVlogs" target="_blank">Andy Garzon</a>.</h3>
          </div>
      </div>
  </section>
{% endblock content %}
