<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    {% include "blocks/tag_manager_header.html" %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Garzon Films{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/min/foundation.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/min/font-icomoon.min.css" %}">
    <link rel="stylesheet" href="{% static "css/min/garzonfilms.min.css" %}">
    {% block cssblock %}{% endblock cssblock %}
    <script src="{% static "js/vendor/modernizr.js" %}"></script>

    <!-- SEO and Facebook Atributos-->
    <meta name="description" content="Garzon Films is an independent production company founded by Andy Garzón" />
    <meta name="keywords" content="GarzonFilms, cine, movies, photography, films, Puebla, Mexico" />
    <meta name="author" content="Andy Garzon" />

    <meta property="fb:app_id" content="504922086287468" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="Garzon Films is an independent production company founded by Andy Garzón" />
    <meta property="og:image" content="http://www.garzonfilms.com/img/home/home_01.jpg" />
    <!-- Fin de SEO y Facebook atributos-->
    <!-- Favicons y Directivas para AppChrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- fAVICONS-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/img/icons/manifest.json">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Garzon Films">
    <meta name="application-name" content="Garzon Films">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/static/img/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
  {% include "blocks/tag_manager_body.html" %}

  <nav class="menu-padding">
      <div class="row text-center">
          <div class="medium-3 columns"><a href="/"><img id="logo" width="120px" src="/static/img/logo/logo_garzonfilms_200x128.png" alt="GarzonFilms Sitio Oficial"></a></div>
          <div class="medium-6 columns">
              <div class="row">
                  <div class="medium-2 columns cl-effect-12 menu-padding"><a href="/work">WORK</a></div>
                  <div class="medium-3 columns cl-effect-12 menu-padding"><a href="/contact">CONTACT</a></div>
                  <div class="medium-3 columns end cl-effect-12 menu-padding"><a href="/about">ABOUT</a></div>
              </div>
          </div>
          <div class="medium-3 columns">
              <div class="row">
                  <div class="small-12 columns menu-padding">
                      <a href="https://www.facebook.com/garzonfilms" title="Facebook GarzonFilms" target="_blank"><span class="icon-facebook medium"></span></a>
                      <a href="http://twitter.com/AndyGarzonA" title="Twitter GarzonFilms" target="_blank"><span class="icon-twitter medium"></span></a>
                      <a href="http://youtube.com/AndyGVlogs" title=" Canal Youtube de GarzonFilms" target="_blank"><span class="icon-youtube medium"></span></a>
                      <a href="http://instagram.com/andygarzon" title="Instragram GarzonFilms" target="_blank"><span class="icon-instagram medium"></span></a>
                      <a href="https://vimeo.com/garzonfilms" title="Vimeo GarzonFilms" target="_blank"><span class="icon-vimeo medium"></span></a>
                  </div>
              </div>
          </div>
      </div>
  </nav>

    {% block content %}

    {% endblock content %}

    <footer class="padding-top">
       <div class="row">
         <div class="small-12 columns text-right">
           <p class="small-only-text-center">Copyright © 2015 <a href="/">GarzonFilms</a>  Created by <a title="Jesús Alvarado G." href="http://mx.linkedin.com/in/xtornasol512/" target="_blank">JAG</a></p>
         </div>
       </div>
      </footer>


    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    {% block jsblock %}
    {% endblock jsblock %}
    <script src="{% static "js/site/codiguito.js" %}"></script>
    {% include "blocks/script_block_home.html" %}
  </body>
</html>
