{% extends "base.html" %}
{% block title %}
  Contacto
{% endblock title %}
{% block content %}
  <section class="padding-top">
      <div class="row">
          <div class="medium-8 medium-centered columns text-center">
              <h1>Let's make <em>movies</em>!</h1>
              <h3><a href="mailto:garzonfilms@hotmail.com"><i class="icon-email medium"></i> garzonfilms@hotmail.com</a></h3>
              <p>Puebla, <abbr title="Puebla">Pue</abbr>. México</p>

          </div>
      </div>
  </section>
{% endblock content %}





