{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class="padding-top">
    <section class="row padding-top">
      <div class="small-12 medium-11 medium-centered columns">

        <img id="home" width="100%" class="animated pulse shadow" src="" alt="">
        <noscript>
          <img id="home" class="animated pulse shadow" src="" alt="Fotografia por Andy Garzon, Puebla. MX">
        </noscript>
        <p><span id="caption">Garzon Films</span> by Andy Garzón</p>
      </div>
    </section>
  </section>
{% endblock content %}
{% block jsblock %}
  <script src="{% static "js/site/home.js" %}"></script>
  <script>
      randomImg();
    </script>
{% endblock jsblock %}
