{% extends "base.html" %}
{% load static %}
{% block title %}
  Work
{% endblock title %}
{% block cssblock %}
  <link rel="stylesheet" href="{% static "css/min/jquery.fancybox.min.css" %}" />
{% endblock cssblock %}
{% block content %}
  <section class="padding-top">
    <section class="row padding-top">
      <div class="small-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">

              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/Ro69S95xoAs?showinfo=0&theme=light&vq=hd720&color=white&rel=1" title="Demo Reel">
                <img class="th" src="/static/img/work/GarzonFilms.png" alt="Films by Andy Garzon">
              </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/Y4QfJPKj26E?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="MariLechuga - Mi voz Vídeo Oficial">
                <img class="th" src="/static/img/work/marilechuga_mivoz.jpg" alt="Gerardo Film Win of Best Production">
              </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/XIzeszKmXfU?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Gerardo Award Winning Short Film for Best Production 2015 IPM Puebla">
                <img class="th" src="/static/img/work/gerardo_garzonfilms.jpg" alt="Gerardo Film Win of Best Production">
              </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/uhDypXA3MoM?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Mari Lechuga (Teaser)">
                <img class="th" src="/static/img/work/mario_mari_lechuga.jpg" alt="Mario de Mari Lechuga">
              </a></li>

              <li><a  class="various fancybox.iframe" href="//www.youtube.com/embed/iptRr8-7xh8?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Ángeles Azules Documentary">
                <img class="th" src="/static/img/work/angelesAzules.jpg" alt="Angeles Azules">
                </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/NvvMcMFTi8E?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Líneas (Short Film)">
                <img class="th" src="/static/img/work/lineas_01.jpg" alt="Lineas Cortometraje Film">
                </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/F8df65003bY?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Kar Accidents Video Film" >
                <img class="th" src="/static/img/work/kar_accidents_01.jpg" alt="Kar Accidents (Teaser)"></a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/Kbo1b6T9v6Q?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Tigres del Norte Documentary  (Trailer)">
                <img class="th" src="/static/img/work/piano_garzonfilms.jpg" alt="Tigres del Norte Documental Film">
                </a></li>
              <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/Lk4q-chsIWU?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Fragmento de Memoria (Short Film)">
                <img class="th" src="/static/img/work/pico_de_orizaba.jpg" alt="Fragmento de Memoria Pico de Orizaba">
                </a></li>
                <li><a class="various fancybox.iframe" href="//www.youtube.com/embed/AtNIcsre7EI?showinfo=0&theme=light&vq=hd720&color=white&rel=0" title="Santa Barbara Time Lapse" >
                <img class="th" src="/static/img/work/timelapse_santa_barbara.jpg" alt="Time Lapse Santa Barbara">
                </a></li>
            </ul>

      </div>
    </section>
  </section>
  <!-- MOdals-->
    <div id="barbaraFilm" class="reveal-modal large" data-reveal>
      <h2>Time Lapse Santa Barbara</h2>
      <div class="flex-video" >
        <iframe width="1280" height="720" src="//www.youtube.com/embed/AtNIcsre7EI?showinfo=0&theme=light&vq=hd720&color=white&" frameborder="0" allowfullscreen></iframe>
      </div>

      <a class="close-reveal-modal">&#215;</a>

    </div>
  <!--End MOdals -->
{% endblock content %}

{% block jsblock %}
  <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
{% endblock jsblock %}



